@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

section {
    padding: 5rem 9%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0, 0, 0, .1);
    z-index: -1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background: var(--dark-color);
}

.header .header-1 {
    background: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i {
    color: var(--green);
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--green);
}

#search-btn {
    display: none;
}

.header .header-2 {
    background: var(--green);
}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.bottom-navbar {
    text-align: center;
    background: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active {
    right: 0;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p {
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

.home {
    background: url(image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img {
    height: 25rem;
}

.home .row .books-slider a:hover img {
    transform: scale(.9);
}

.home .row .books-slider .stand {
    width: 100%;
    margin-top: -2rem;
}

.home .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}

.featured .featured-slider .box {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover {
    border: var(--border-hover);
}

.featured .featured-slider .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image {
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img {
    height: 25rem;
}

.featured .featured-slider .box .icons {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons {
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover {
    background: var(--green);
    color: #fff;
}

.featured .featured-slider .box .content {
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.swiper-button-next,
.swiper-button-prev {
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}

.newsletter {
    background: url(image/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form {
    max-width: 45rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}

.newsletter form h3 {
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}

.arrivals .arrivals-slider .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
    border: var(--border);
    margin: 1rem 0;
}

.arrivals .arrivals-slider .box:hover {
    border: var(--border-hover);
}

.arrivals .arrivals-slider .box .image img {
    height: 15rem;
}

.arrivals .arrivals-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .stars i {
    font-size: 1.5rem;
    color: var(--green);
}

.deal {
    background: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.deal .content {
    flex: 1 1 42rem;
}

.deal .image {
    flex: 1 1 42rem;
}

.deal .image img {
    width: 100%;
}

.deal .content h3 {
    color: var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1 {
    color: var(--black);
    font-size: 4rem;
}

.deal .content p {
    padding: 1rem 0;
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.reviews .reviews-slider .box {
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.reviews .reviews-slider .box:hover {
    border: var(--border-hover);
}

.reviews .reviews-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3 {
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.reviews .reviews-slider .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars {
    padding-top: .5rem;
}

.reviews .reviews-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--green);
}

.blogs .blogs-slider .box {
    margin: 2rem 0;
    border: var(--border);
}

.blogs .blogs-slider .box:hover {
    border: var(--border-hover);
}

.blogs .blogs-slider .box .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .blogs-slider .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .blogs-slider .box:hover .image img {
    transform: scale(1.1);
}

.blogs .blogs-slider .box .content {
    padding: 1.5rem;
}

.blogs .blogs-slider .box .content h3 {
    font-size: 2.2rem;
    color: var(--black);
}

.blogs .blogs-slider .box .content p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box .map {
    width: 100%;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--green);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background: var(--black);
}

.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span {
    color: var(--green);
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active {
    display: none;
}

.loader-container img {
    height: 10rem;
}










/* media queries  */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header .header-1 {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

}

@media (max-width:768px) {

    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .header .header-2 {
        display: none;
    }

    .bottom-navbar {
        display: block;
    }

    #search-btn {
        display: inline-block;
    }

    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form {
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active {
        top: 115%;
    }

    .home .row .content {
        text-align: center;
    }

    .home .row .content h3 {
        font-size: 3.5rem;
    }

    .newsletter {
        background-position: right;
    }

    .newsletter form {
        margin-left: 0;
        max-width: 100%;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

.background {
    background: #f6f9fc;
    padding: 50px 0;
}

.container {
    max-width: 90%;
    margin: auto;
}

.d_flex {
    display: flex;
    justify-content: space-between;
}

.c_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_flex {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.RText {
    text-align-last: right;
}

input,
button {
    border: none;
    outline: none;
    background-color: none;
}

.row {
    width: 50%;
}

.icon-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #f3f5f9;
    margin-left: 20px;
    text-align: center;
    border-radius: 50%;
}

.boxShadow {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*---------category----------*/
.contentWidth {
    width: 77%;
}

.category {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    width: 23%;
    height: 510px;
    padding: 15px 0;
    border-radius: 5px;
    margin-top: 5px;
}

.category img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    object-fit: contain;
}

.category span {
    margin: 10px 20px;
    text-transform: capitalize;
}

.category .box {
    transition: 0.5s;
    padding: 0 20px;
}

.category .box:hover {
    background-color: #ffe1e6;
    cursor: pointer;
}

/*---------category----------*/
.btn-primary {
    background: #e94560;
    padding: 13px 40px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
}

.top {
    margin-top: 80px;
}

.mtop {
    margin-top: 40px;
}

.heading i {
    color: #e94560;
    margin: 10px;
}

.discount {
    position: absolute;
    top: 0;
    left: 0;
    background: #e94560;
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 50px;
    color: #fff;
    margin: 10px;
}

/*---------product-----------*/
.product {
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
}

.product h3 {
    font-weight: 400;
    font-size: 17px;
}

.product .rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}

.product .price {
    display: flex;
    justify-content: space-between;
    color: #e94560;
}

.price button {
    background: none;
    color: #e94560;
    font-size: 20px;
    transition: 0.5s;
    border: 1px solid rgb(3 0 71 / 9%);
    width: 35px;
    height: 35px;
    border-radius: 5px;
}

.price button:hover {
    cursor: pointer;
    background-color: #e94560;
    color: #fff;
}

.product-like {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: 0.5s;
}

.product-like label {
    background-color: #0f3460;
    padding: 1px 10px;
    font-size: 12px;
    color: white;
    border-radius: 50px;
}

.product-like i {
    font-size: 20px;
    margin: 10px 3px;
}

.product:hover .product-like {
    opacity: 1;
}

/*---------product-----------*/
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
    position: absolute;
    top: 40%;
    width: 50px;
    height: 50px;
    line-height: 60px;
    background: #0f3460;
    border-radius: 50%;
    transform: 0.5s;
    z-index: 5;
}

.control-btn .prev {
    left: -20px;
}

.control-btn .next {
    right: -20px;
}

.control-btn .prev i,
.control-btn .next i {
    font-size: 20px;
    transition: 0.5s;
    color: #fff;
}

.control-btn .prev:hover,
.control-btn .next:hover {
    background: #e94560;
    color: white;
    cursor: pointer;
}

/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
    font-size: 30px;
}

.heading .heading-left h2 {
    font-size: 25px;
    margin: 5px;
}

.heading .heading-right i,
.heading .heading-right {
    text-align: right;
    color: grey;
}

/*----- heading -------*/
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}




.dishes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.dishes .box-container .box {
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
    background: var(--green);
    color: #fff;
}

.dishes .box-container .box .fa-heart {
    right: -15rem;
}

.dishes .box-container .box .fa-eye {
    left: -15rem;
}

.dishes .box-container .box:hover .fa-heart {
    right: 1.5rem;
}

.dishes .box-container .box:hover .fa-eye {
    left: 1.5rem;
}

.dishes .box-container .box img {
    height: 17rem;
    margin: 1rem 0;
}

.dishes .box-container .box h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.dishes .box-container .box .stars {
    padding: 1rem 0;
}

.dishes .box-container .box .stars i {
    font-size: 1.7rem;
    color: var(--green);
}

.dishes .box-container .box span {
    color: var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}


/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 50px;
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

.container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.container #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.container .cover .front,
.container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover::before,
.container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #219150;
    opacity: 0.5;
    z-index: 12;
}

.container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #2191508;
}

.forms .signup-form .title:before {
    width: 20px;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: ##219150;
}

.form-content .input-box i {
    position: absolute;
    color: #219150;
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .text a {
    text-decoration: none;
}

.forms .form-content .text a:hover {
    text-decoration: underline;
}

.forms .form-content .button {
    color: #fff;
    margin-top: 40px;
}

.forms .form-content .button input {
    color: #fff;
    background: #219150;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
    background: #219150;
}

.forms .form-content label {
    color: #219150;
    cursor: pointer;
}

.forms .form-content label:hover {
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.container #flip {
    display: none;
}

@media (max-width: 730px) {
    .container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .container #flip:checked~.forms .signup-form {
        display: block;
    }

    .container #flip:checked~.forms .login-form {
        display: none;
    }
}